<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="nodelet_manager" default="ouster_nodelet_manager" />
  <arg name="points_topic" default="/points" />
  <arg name="imu_topic" default="/gpsimu_driver/imu_data" />
  <arg name="odom_child_frame_id" default="os1_lidar/lidar" />

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>


    <!-- globalmap_server_nodelet -->
    <node pkg="nodelet" type="nodelet" name="globalmap_server_nodelet" args="load flame1/GlobalmapServerNodelet $(arg nodelet_manager)">
      <param name="globalmap_pcd" value="$(find flame1)/data/munji_1024.pcd" />
      <param name="downsample_resolution" value="0.5" />
    </node>


</launch>
